@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-1: #ecdfcc;
  --primary-2: #ede4cc;

  --secondary-1: #181c14;
  --secondary-2: #151c14;
  --secondary-3: #1c1b14;

  --tertiary-1: #3c3d37;
  --tertiary-2: #393d37;
  --tertiary-3: #3d3c37;

  --accent-1: #697565;
  --accent-2: #657567;
}
